.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container h2 {
  color: blueviolet;
  margin-bottom: 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  color: blueviolet;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form .field {
  margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

form .actions {
  text-align: center;
}

form .actions input[type="submit"] {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form .field input[type="checkbox"] {
  margin-right: 5px;
}

form .links {
  text-align: center;
}

.footer-links {
  text-align: center;
  margin-top: 20px;
}

.footer-links a {
  text-decoration: none;
  color: blueviolet;
}

.footer-links a:hover {
  text-decoration: underline;
}

.header {
  background-color: blue;
  text-align: center;
  padding: 20px 0;
}

.categories-container {
  padding: 20px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.category-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.category-card {
  display: flex;
  align-items: center;
}

.category-image {
  margin-right: 10px;
}

.category-details {
  text-align: left;
}

.category-details h2 {
  margin: 0;
  color: blueviolet;
}

.category-actions {
  margin-left: auto;
}

.new-category-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.new-category-button:hover {
  background-color: #0056b3;
}
